---
import DynamicIcon from "@/helpers/DynamicIcon";

interface ISocial {
  name: string;
  icon: string;
  link: string;
}

interface Props {
  source: ISocial[];
  className: string;
}

const { source, className } = Astro.props;
---

<ul class={className}>
  {
    source.map((social) => (
      <li>
        <a
          aria-label={social.name}
          href={social.link}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <span class="sr-only">{social.name}</span>
          <DynamicIcon className="inline-block" icon={social.icon} />
        </a>
      </li>
    ))
  }
</ul>
