---
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import { settings } from "@/config/config.json";
import DynamicIcon from "@/helpers/DynamicIcon";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import dateFormat from "@/lib/utils/dateFormat";
import { sortByDate } from "@/lib/utils/sortFunctions";
import { markdownify } from "@/lib/utils/textConverter";
import PageHeader from "@/partials/PageHeader.astro";
import { Image } from "astro:assets";
import { type CollectionEntry, getEntry } from "astro:content";

const { blog_folder, pagination } = settings;
const { data } = (await getEntry("blog", "-index")) as CollectionEntry<"blog">;
const posts = await getSinglePage("blog");
const sortedProducts = sortByDate(posts) as CollectionEntry<"blog">[];
const currentPosts = sortedProducts.slice(0, pagination);
const featuredPosts = posts.filter((post) => post.data.type === "featured");
const totalPages = Math.ceil(posts.length / pagination);
---

<Base {...data}>
  <PageHeader title={data.title} subtitle={data.subtitle} />

  <section class="section">
    <div class="container">
      {
        featuredPosts.map((post) => {
          const { title, author, date, image } = post.data;
          return (
            <div class="row gy-4 lg:gy-0">
              <div class="lg:col-6">
                {image && (
                  <Image
                    src={image}
                    class="rounded"
                    width={1600}
                    height={800}
                    alt={title}
                  />
                )}
              </div>
              <div class="lg:col-6">
                <div class="flex space-x-3 items-center mb-3">
                  <Image
                    class="inline-block rounded-full"
                    src={"/images/authors/author-1.webp"}
                    width={30}
                    height={30}
                    alt="author"
                  />

                  <p>
                    <span>by </span>
                    <a
                      href={`/${blog_folder}/${post.id}`}
                      class="text-dark dark:text-darkmode-dark hover:text-primary transition dark:hover:text-darkmode-primary"
                      set:html={markdownify(author ? author : "admin")}
                    />
                  </p>

                  <div>
                    <DynamicIcon
                      className="inline-block"
                      icon="FaRegCalendarDays"
                    />{" "}
                    {dateFormat(date!)}
                  </div>
                </div>
                <a href={`/${blog_folder}/${post.id}`}>
                  <h2
                    class="text-dark dark:text-darkmode-dark mb-3 hover:text-primary dark:hover:text-darkmode-primary"
                    set:html={markdownify(title)}
                  />
                </a>
                {post.body && (
                  <p
                    class="mb-4"
                    set:html={markdownify(post.body.slice(0, 250))}
                  />
                )}

                <a
                  href={`/${blog_folder}/${post.id}`}
                  class="btn btn-primary capitalize"
                >
                  Read More
                </a>
              </div>
            </div>
          );
        })
      }

      <div class="row mt-12">
        {
          currentPosts.map((post) => {
            return (
              <div class="mb-14 md:col-6 lg:col-4">
                <BlogCard {...post} />
              </div>
            );
          })
        }
      </div>
      <Pagination
        section={blog_folder}
        currentPage={1}
        totalPages={totalPages}
      />
    </div>
  </section>
</Base>
