---
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { getEntry } from "astro:content";

const { contact_form_action } = config.params;
const contactIndex = (await getEntry(
  "contact",
  "-index"
)) as CollectionEntry<"contact">;

const { title, description, meta_title, image } = contactIndex.data;
const { Content } = await render(contactIndex);
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <PageHeader title={title} />
  <section class="section-sm">
    <div class="container">
      <div class="row gy-4 lg:gy-0">
        <div class="lg:col-6">
          <div class="content">
            <Content />
          </div>
        </div>
        <div class="lg:col-6">
          <form class="row" action={contact_form_action} name="contact" netlify-honeypot="comments" netlify>
            <div class="lg:col-6">
              <label for="first-name">
                <div class="mb-2 font-medium text-dark dark:text-darkmode-dark">
                  First Name <span class="text-red-500">*</span>
                </div>
                <input
                  class="blcok border border-border w-full rounded-sm p-3 focus:border-primary focus:outline-none focus:ring-0 focus:shadow-none transition dark:bg-theme-dark/20 dark:border-darkmode-border dark:focus:border-darkmode-primary placeholder:text-darkmode-light"
                  type="text"
                  id="first-name"
                  name="first-name"
                  placeholder="First Name"
                />
              </label>
            </div>
            <div class="lg:col-6 mt-6 lg:mt-0">
              <label for="last-name">
                <div class="mb-2 font-medium text-dark dark:text-darkmode-dark">
                  Last Name <span class="text-red-500">*</span>
                </div>
                <input
                  class="blcok border border-border w-full rounded-sm p-3 focus:border-primary focus:outline-none focus:ring-0 focus:shadow-none transition dark:bg-theme-dark/20 dark:border-darkmode-border dark:focus:border-darkmode-primary placeholder:text-darkmode-light"
                  type="text"
                  id="last-name"
                  name="last-name"
                  placeholder="Last Name"
                />
              </label>
            </div>
            <div class="col-12 mt-6">
              <label for="email">
                <div class="mb-2 font-medium text-dark dark:text-darkmode-dark">
                  Email <span class="text-red-500">*</span>
                </div>
                <input
                  class="blcok border border-border w-full rounded-sm p-3 focus:border-primary focus:outline-none focus:ring-0 focus:shadow-none transition dark:bg-theme-dark/20 dark:border-darkmode-border dark:focus:border-darkmode-primary placeholder:text-darkmode-light"
                  type="text"
                  id="email"
                  name="email"
                  placeholder="Email"
                />
              </label>
            </div>
            <div class="col-12 mt-6">
              <label for="email">
                <div class="mb-2 font-medium text-dark dark:text-darkmode-dark">
                  Message <span class="text-red-500">*</span>
                </div>
                <textarea
                  rows={4}
                  class="blcok border border-border w-full rounded-sm p-3 focus:border-primary focus:outline-none focus:ring-0 focus:shadow-none transition dark:bg-theme-dark/20 dark:border-darkmode-border dark:focus:border-darkmode-primary placeholder:text-darkmode-light"
                  id="measage"
                  name="message"
                  placeholder="Message"></textarea>
              </label>
            </div>
            <p class="hidden">
              <label>
                Extra comments: <input name="comments" type="text" />
              </label>
            </p>
            <button type="submit" class="btn btn-primary mt-8">Send Message</button>
          </form>

        </div>
      </div>
    </div>
  </section>
</Base>
